<!--<div class="mat-card">-->
<div>
  <mat-card-header>

    <mat-form-field>
      <mat-label>UserID1</mat-label>
      <input [(ngModel)]="userToBeRemovedID" (keyup.enter)="changeUserToBeRemoved()" matInput>
    </mat-form-field>

    <mat-form-field class="ml-5">
      <mat-label>UserID2</mat-label>
      <input [(ngModel)]="userToBeKeptID" (keyup.enter)="changeUserToBeKept()" matInput>
    </mat-form-field>

  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="false" #stepper>

      <mat-step>
        <perun-web-apps-first-group
            [userToBeKept]="userToBeKept"
            [userToBeRemoved]="userToBeRemoved">
        </perun-web-apps-first-group>
      </mat-step>

      <mat-step>
        <perun-web-apps-second-group
            [userToBeRemoved]="userToBeRemoved"
            [userToBeKept]="userToBeKept">
        </perun-web-apps-second-group>
      </mat-step>

      <mat-step>
        <perun-web-apps-third-group
            [userToBeRemoved]="userToBeRemoved"
            [userToBeKept]="userToBeKept">
        </perun-web-apps-third-group>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</div>
<!--</div>-->
